---
# tasks file for telegram

- name: Send notify to Telegram
  community.general.telegram:
    token: '6593012831:AAERIwZZMuBoeT7dzXcflrULwa3p_rhrCdI'
    api_args:
      chat_id: -900228251
      parse_mode: "markdown"
      text: "Source IP Address {{ source_addresses }} has been blocked - Reason: {{ reason }}"
      disable_web_page_preview: True
      disable_notification: True
  when: services == 'dvcqgdientaps'

- name: Send notify to Telegram
  community.general.telegram:
    token: '6593012831:AAERIwZZMuBoeT7dzXcflrULwa3p_rhrCdI'
    api_args:
      chat_id: -900228251
      parse_mode: "markdown"
      text: "Source IP Address {{ source_addresses }} has been blocked - Reason: {{ reason }}"
      disable_web_page_preview: True
      disable_notification: True
  when: services == 'vnportals' and inventory_hostname == 'vnportal-2019'

- name: Send notify to Telegram
  community.general.telegram:
    token: '6593012831:AAERIwZZMuBoeT7dzXcflrULwa3p_rhrCdI'
    api_args:
      chat_id: -900228251
      parse_mode: "markdown"
      text: "Source IP Address {{ source_addresses }} has been blocked - Reason: {{ reason }}"
      disable_web_page_preview: True
      disable_notification: True
  when: services == 'hanoinews'

- name: Send notify to Telegram
  community.general.telegram:
    token: '6593012831:AAERIwZZMuBoeT7dzXcflrULwa3p_rhrCdI'
    api_args:
      chat_id: -900228251
      parse_mode: "markdown"
      text: "Source IP Address {{ source_addresses }} has been blocked - Reason: {{ reason }}"
      disable_web_page_preview: True
      disable_notification: True
  when: services == 'congthongtinchinhphu'